<nav>
		<%= flash[:notice] %>
		<ul class = "navbar">
			<img src = "images\musiclogo2.png" class="logo"></img>
			<% unless @current_user %>
			<li>
				<a href = \signup class= "active">SIGNUP</a>
			</li>
			<li>
				<a href = \login class= "active">LOGIN</a>
			</li>
			<% end %>
			<% if session[:user_id] %>
			<li>
				<a href = \logout class = "active">LOGOUT</a>
			</li>
			<li>
				<a href = \post class = "active">POST</a>
			</li>
			<li>
				<a href = \ class = "active">HOME</a>
			</li>

			<li>
				<a href = \profile class = "active">Profiles</a>
			</li>

			<% end %>			
		</ul>
	</nav>

<form method="POST" action="/posts/<%=@post.id%>" class="form2">   
		<label for="title" class="enter">Album Title</label>   
		<input type="text" name="[post][title]" value=<%= @post.title%>>   
		<label for="text" class="enter" id="ta">Review</label>   
		<input type="text" name="[post][text]" value=<%= @post.text%>> 
		<input type="submit" class="sub"> 
		 <input formaction="/delete/<%=@post.id%>" type="submit" value="DELETE POST" class="sub2" />
	</form>